@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
li{
    list-style: none; 
}
a {
    text-decoration: none;
}
.navbar i {
    font-size: 10px;
    margin-right: 5px;
  }
.header{
    border: solid 1px rgb(174,140,95);
    background-color:rgb(3, 3, 29);
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.hamburger, .divLogo{
    display: none;
}
.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(174,140,95);
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu>.nav-item>.nav-link{
    font-size: 100%;
    font-weight: 300;
    color: rgb(174,140,95);
    margin-left: 2rem;
}
.nav-menu>.nav-item>.nav-link:hover{
    color: #f2f2f2;
}
#dropdownNav{
    background-color: #CECECE;
}
#dropdownNav>li>.nav-link{
    color: rgb(174,140,95);
}
#dropdownNav>li>.nav-link:hover{
    color: #f2f2f2;
}
#nav-item-dropdown{
    margin-left: 15rem;
}
@media screen and (min-width: 950px) and (max-width: 1150px){
    .nav-menu>.nav-item>.nav-link{
        font-size: 85%;
        margin-left: auto;
    }
    .navbar i {
        font-size: 8px;
        margin-right: 2px;
    }
    #nav-item-dropdown{
        margin-left: 15rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px){
    .nav-menu>.nav-item>.nav-link{
        font-size: 80%;
        margin-left: auto;
    }
    .navbar i {
        font-size: 6px;
        margin-right: 1px;
    }
    #nav-item-dropdown{
        margin-left: 14rem;
      }
  }
@media only screen and (max-width: 950px) {
    .nav-menu {
        position:absolute;
        z-index: 5;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: rgb(3, 3, 29);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 0.5rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        color: rgb(174,140,95);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #logoHeader{
        display: none;
    }
    .divLogo{
        display: block;
    }
}

/* -------------------------------------- FOOTER --------------------- */
#footer {
    overflow: hidden;
    background-color:rgb(3, 3, 29);
    border: solid 0.2px rgb(174,140,95);
    bottom: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #footer a{
    float: left;
    display: block;
    color: rgb(174,140,95);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
  }
  
  #footerSpan{
    margin-right: 10px;
    color:rgb(174,140,95);
    font-size: 15px;
  }
  
  #footer a:hover {
    color: #f2f2f2;
  }
  
  #ancre{
    color:rgb(174,140,95);
  }
  #ancre:hover{
    background-color: rgb(174,140,95);
    color: #f2f2f2;
    border-radius: 10px;
  }

  @media only screen and (max-width: 950px){
   #footer{
    min-height:70vh;
	display:flex;
	flex-direction:column;
   }
   
    #footer a, #footerSpan{
       font-size: 10px;
      
   }   

  }