#containerShop{
  margin-top: 100px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonChefs, #btnSearch, #search {
  color:  rgb(174,140,95);
  background-color: #CECECE;
  border: solid 1px rgb(174,140,95);
  margin-bottom: 30px;
}

#buttonMeals{
  margin-left: 200px;
}

#listChefs{
  width: 206px;
  border: solid 1px rgb(174,140,95);
  background-color: #CECECE;
  color:  rgb(174,140,95);
  z-index: 1;
}

#cardAccueil{
  border: solid 0.3px rgb(174,140,95);
}

#titreCardAccueil{
  font-size: 15px;
}

#titreCardAccueil > span{
  color:  rgb(174,140,95);
  font-size: 20px;
}

#imgMeal{
  margin-left: 25px;
  margin-top: 50px;
 }

.titrePlat{
  font-weight: bold;
}

#addCart{
  background-color: rgb(174,140,95);
  color: #f2f2f2;
  padding :5px 5px 5px 8px;
  margin-left: 110px;
}

#addCart:hover {
  color: rgb(174,140,95);
  background-color: #f2f2f2;
}

/* -----------------Meal Item------------------------------- */

#buttonValid{
  background-color: rgb(174,140,95);
  color: #f2f2f2;
  margin-left: 333px;
  border-radius: 10px;
}

#buttonValid:hover {
  color: rgb(174,140,95);
  background-color: rgb(3, 3, 29);
 
}

#priceAccueil, #priceItem{
  color: rgb(174,140,95);
  font-weight: bold;
  font-size: larger;
}

#checkout-button{
  background-color: rgb(174,140,95);
  color: #f2f2f2;
  border-radius: 10px;
}

#checkout-button:hover {
  color: rgb(174,140,95);
  background-color: rgb(3, 3, 29);
  border-radius: 10px;
}

#containerItem{
  margin-top: 30px;
}

#validation{
  margin-top: 17px;
}

.validation{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* -----------------snackbar w3 School------------------------------- */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(3, 3, 29); /* Black background color */
  color: rgb(174,140,95); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* -----------------Media queries------------------------------- */

@media screen and (max-width: 770px) {
  #textChef{
      text-align: justify;
      padding-right: 40px;
  }
  #btnSearch, #search {
      display: none;
  }
  #buttonChefs{
      margin-right: 200px;
  }
}



