* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Lato", sans-serif;
}

.h1Sidenav{
  font-size: larger;
}

.h2Sidenav{
  font-size: large;
}

#titreAdmin{
  font-size: x-large
}


/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(3, 3, 29);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, #backToShop {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover, #backToShop:hover {
  color:  #f2f2f2;
}

/* Main content */
.main {
  margin-left: 150px;/* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  
}

/* Add an active class to the active dropdown button */
.active {
  background-color: rgb(174,140,95);
  color: #f2f2f2;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: rgb(5, 5, 53);
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
#btn_chefMeals{
  font-family: 'Abril Fatface', cursive;
  color:  rgb(174,140,95);
  background-color: #CECECE;
}
  
@media only screen and (max-width: 950px){
  .sidenav {
    width: 100px;
  }

  .sidenav a, .dropdown-btn, #backToShop {
    font-size: 8px;
  }

  .h1Sidenav, .h2Sidenav{
    font-size: 10px;
  }

  
  #titreAdmin{
    font-size: 15px;
  }

  #imgLogo{
    width: 30px;
  }

  #titreAdmin{
    font-size: 15px;
    margin-left: 20px;
  }

 #listTitle{
    font-size: 10px;
  }

  #search, #btn_chefMeals, #loupe{
    display: none;
  }

  #tabList, #updateBtn, #deleteBtn{
    font-size: 8px;
  }

  .main {
    margin-left: 80px;
  }
  
  
  
}
/* Some media queries for responsiveness */
@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px; width: 80px;}

  /* .sidenav a{display: none; font-size: 18px;} */
}